 <div class="col-md-12">
              <div class="form-group">
                <label for="titulo">Título</label>
                
                <input
                [(ngModel)]='postagem.title'
                type="text" class="form-control" id="titulo" placeholder="Título do post">
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="form-group">
                <label for="tema">Tema</label>
                
                <select name="tema" id="tema" class="form-control"
                [(ngModel)] = 'idTema'
                (change)='findByIdTema()'>
                  <option value="{{ item.id }}" *ngFor='let item of listaTema'>
                    {{ item.title }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="titulo">Quem faz?</label>
                <input
                type="text" class="form-control" id="titulo" placeholder="Quem está oferecendo isso">
              </div>
            </div>
          </div>
          <h5 class="modal-title" id="exampleModalLongTitle">Criar publicação</h5>

          <div class="form-group">
            <label for="descricao">Descrição</label>
           
            <textarea
            [(ngModel)]='postagem.text'
            name="descricao" id="descricao" cols="30" rows="5" class="form-control" placeholder="Dica: use hashtags"></textarea>
          </div>



      <div class="modal-footer d-flex justify-content-center">
        
        <button type="button" class="btn btn-primary" (click)='postar()'>Postar</button>
      </div>
    </div>
  </div>